<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-4">
            <header>
                <h1 style="font-size: 80px; color: rgb(244, 169, 115)">WeatherFinder</h1>
            </header>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 offset-2 mt-3" style="margin-bottom: 25px;">
            <input 
            type="text" 
            placeholder="Enter city name"
            [(ngModel)]="preservedCityName"
            class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 offset-5">
            <span *ngIf="!isLoading"><button (click)="getWeather()">GET WEATHER</button></span>  
            <span *ngIf="isLoading" style="margin-left:65px"><loading-spinner></loading-spinner></span>  
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 offset-4">
            <div class="card mt-4" style="height: 350px;" *ngIf="citySearched">
                <p class="city">{{ cityName | uppercase}}</p>
                <div class="row text-center mt-3 align-items-center">
                        <div class="humidity col-md-4">Max Temp: {{ max_temp }}°C</div>
                        <div class="icon col-md-4">
                            <span *ngIf="isNight">
                            <img src="https://d2erwcr27wae6d.cloudfront.net/resources/v1/resource/IconByCodeV1?iconset=forecast&iconSize=svglarge&iconCode=31&token=160ca735-3dda-406d-ba1a-91196fa365f2"  
                            style="height: 90px; width: 90px">
                            </span>
                            <span *ngIf="!isNight">
                                <img src="https://d2erwcr27wae6d.cloudfront.net/resources/v1/resource/IconByCodeV1?iconset=forecast&iconSize=svglarge&iconCode=3&token=160ca735-3dda-406d-ba1a-91196fa365f2"  
                                style="height: 90px; width: 90px">
                                </span>
                        </div>
                        <div class="pressure col-md-4">Min Temp: {{ min_temp }}°C</div>
                </div>
                <p class="temp mt-3">{{ temp }}°C</p>
                <div class="row text-center mt-3">
                    <div class="col-xs-4 col-sm-4 col-md-4 offset-4">
                        <p class="windspeed">Humidity: {{ humidity }}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

